{% with id=widget.attrs.id %}<div style="display: flex;flex-wrap: wrap;" {% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %}
                                  class="{{ widget.attrs.class }}"{% endif %}>{% for group, options, index in widget.optgroups %}{% if group %}
  <div><label>{{ group }}</label>{% endif %}{% for option in options %}<div style="{{option.attrs.label.style}}">
    {% include option.template_name with widget=option %}</div>{% endfor %}{% if group %}
  </div>{% endif %}{% endfor %}
</div>{% endwith %}
