{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block extrastyle %}
    {{ block.super }}
    <link rel="icon" type="image/x-icon" href="{% static 'assets/common/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin_styles.css' %}">
{% endblock %}

{% block branding %}
    <head>
        <style>
            .console-logo {
                background: white;
                padding: 10px;
                border-radius: 18px;
            }
        </style>
    </head>

{% with request.GET.console_title as title %}
    {% if title %}
        {% if title == 'ps1' %}
            <div class="console-logo">
                <img style="width: 60px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Playstation_logo_colour.svg/201px-Playstation_logo_colour.svg.png">
            </div>
        {% elif title == 'ps2' %}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/PlayStation_2_logo.svg/768px-PlayStation_2_logo.svg.png">
            </div>
        {% elif title == 'ps3' %}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/0/05/PlayStation_3_logo_%282009%29.svg">
            </div>
        {% elif title == 'ps4' %}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PlayStation_4_logo_and_wordmark.svg/755px-PlayStation_4_logo_and_wordmark.svg.png">
            </div>
        {% elif title == 'ps5' or title == 'ps5-slim' %}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/PlayStation_5_logo_and_wordmark.svg/768px-PlayStation_5_logo_and_wordmark.svg.png">
            </div>
        {% elif title == 'xbox'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Vectorial_Xbox_logo.svg/1134px-Vectorial_Xbox_logo.svg.png">
            </div>
        {% elif title == 'xbox360'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Xbox_360_logo.svg/258px-Xbox_360_logo.svg.png">
            </div>
        {% elif title == 'xbox-one'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/X_Box_One_logo.svg/246px-X_Box_One_logo.svg.png">
            </div>
        {% elif title == 'xbox-series-s' or title == 'xbox-series-x'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Xbox_Series_X_S_black.svg/768px-Xbox_Series_X_S_black.svg.png">
            </div>
        {% elif title == 'psvita'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/PlayStation_Vita_logo.svg/1200px-PlayStation_Vita_logo.svg.png">
            </div>
        {% elif title == 'psp' or title == 'psp1000' or title == 'psp2000' or title == 'psp3000'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/PSP_Logo.svg/1130px-PSP_Logo.svg.png">
            </div>
        {% elif title == 'psp-go'%}
        <div class="console-logo">
            <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/PSP_Go_logo.svg/600px-PSP_Go_logo.svg.png">
        </div>
        {% elif title == 'wii'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Wii.svg/423px-Wii.svg.png">
            </div>
        {% elif title == 'wiiu'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/WiiU.svg/1047px-WiiU.svg.png">
            </div>
        {% elif title == 'n64'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/it/thumb/0/04/Nintendo_64_Logo.svg/971px-Nintendo_64_Logo.svg.png?20070701103538">
            </div>
        {% elif title == 'snes'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/SNES_logo.svg/444px-SNES_logo.svg.png">
            </div>
        {% elif title == 'nes'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/NES_logo.svg/216px-NES_logo.svg.png?20230801110942">
            </div>
        {% elif title == 'switch' or title == 'switch-oled' or title == 'switch-lite'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Nintendo_Switch_Logo.svg/900px-Nintendo_Switch_Logo.svg.png">
            </div>
        {% elif title == 'atari2600'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Atari_2600_logo.svg">
            </div>
        {% elif title == 'sega-master-system'%}
        <div class="console-logo">
            <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Sega-master-system-logo.png">
        </div>
        {% elif title == 'sega-genesis'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/7/74/Sega_genesis_logo.svg">
            </div>
        {% elif title == 'sega-dreamcast'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Dreamcast_logo.svg">
            </div>
        {% elif title == 'sega-saturn'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/7/78/Sega_Saturn_Black_Logo.svg">
            </div>
        {% elif title == 'sega-nomad'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/en/2/2b/Sega_Nomad.svg">
            </div>
        {% elif title == 'sega-gamegear'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Game_gear_us-jp_logo.svg">
            </div>
        {% elif title == 'gameboy'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/3/39/Gameboy_logo.svg">
            </div>
        {% elif title == 'gameboy-color'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Game_Boy_Color_logo.svg">
            </div>
        {% elif title == 'gameboy-pocket'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Game_Boy_Pocket_Logo.svg">
            </div>
        {% elif title == 'gameboy-advanced'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/5/50/Game_Boy_Advance_logo.svg">
            </div>
        {% elif title == 'gameboy-advanced-sp'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/7/72/Game_Boy_Advance_SP_logo.svg">
            </div>
        {% elif title == 'gamecube'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/0/00/Nintendo_GameCube-06.svg">
            </div>
        {% elif title == 'ds'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Nintendo_DS_Logo.svg">
            </div>
        {% elif title == 'ds-lite'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Nintendo_DS_Lite_logo.svg">
            </div>
        {% elif title == 'dsi'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Nintendo_DSi_logo.svg">
            </div>
        {% elif title == '3ds'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/1/11/Nintendo_3DS_logo.png">
            </div>
        {% elif title == 'new-3ds'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/b/be/New_Nintendo_3DS_logo.svg">
            </div>
        {% elif title == 'new-3ds-xl'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/9/99/New_Nintendo_3DS_XL.svg">
            </div>
        {% elif title == '2ds'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/8/85/Nintendo_2DS_%28logo%29.svg">
            </div>
        {% elif title == 'new-2ds-xl'%}
            <div class="console-logo">
                <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/4/48/New_Nintendo_2DS_XL.svg">
            </div>
        {% else %}
            <img alt="logo" style="width: 100px" src="{% static 'assets/common/readygameslogo.png' %}" />
        {% endif %}
    {% else %}
        <img alt="logo" style="width: 100px" src="{% static 'assets/common/readygameslogo.png' %}" />
    {% endif %}
{% endwith %}
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
