<head>
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Ready! 🕹️</title>
    <meta name="description" content="¡Todo en videojuegos Costa Rica, desde PS5, Xbox Series X hasta SNES, N64 y mucho más!">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Joseph Zamora Murillo">
    <meta charset="UTF-8">
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>

</head>
<body>
<script type="text/javascript">
    function resizeIframe(iframe) {
        iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
    }
</script>

<iframe frameborder="0" onload="resizeIframe(this)" style="height: 100%; width: 100%;" src="https://readygames.vercel.app/"></iframe>
</body>
